.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainView {
  background: orange;
  position: absolute;
  top: 12.5vh;
  left: 20vw;
  height: 72.5vh;
  width: 100vw;
  height:
}

.footer {
  bottom: 0;
  left: 20vw;
  position: fixed;
  height: 5vh;
  width: 80vw;
  background: blue;
  display: inline-flex;
}

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
