.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainView {
  background: orange;
  position: absolute;
  top: 12.5vh;
  left: 20vw;
  height: 72.5vh;
  width: 100vw;
  height:
}

.footer {
  /* bottom: 0; */
  top: 118vh;
  left: 10.75vw;
  position: relative;
  vertical-align: bottom;
  height: 5vh;
  width: 66vw;
  padding: .5vh 0 0 10vw;
  display: inline-flex;
}

.footer p, a {
  margin: 0 1vw 0 3vw;
}

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
