.colorMatchingView {
  position: absolute;
  background: white;
  top: 12.5vh;
  left: 20vw;
  height: 80vh;
  width: 76vw;
  float: left;
}

.colorMatchingView h3 {
  font-weight: 200;
  text-align: left;
  width: 72.5vw;
  padding: 1.75vh 0 1.5vh 1.5vw;
  margin: 0 0 0 2.5vw;
  border-bottom: 1px solid teal;
}

.colorMatchingView img {
  height: auto;
  max-height: 100%;
  max-width: 59%;
  width: auto;
}

/*  width-height ratio is 65.8/100 */
#imgCntr {
  /* border: 2px solid black; */
  height: 85vh;
  margin: 0 0 0 15vw;
  padding: 2vh 0 0 0;
  text-align: center;
  width: 50vw;
}
