.homeView {
  position: absolute;
  top: 7.5vh;
  left: 20vw;
  height: 80vh;
  width: 80vw;
  float: left;
}

.homeContent  {
  width: 77vw;
  height: 85vh;
  padding: 1vh 1vw 1vh 1vw;
  border: 2px solid black;
}

.homeBanner {
  width: 77vw;
  height: 15vh;
  text-align: right;
}

.homeBanner img {
  height: 100%;
}


.homeWelcome  {
  /* border: 1px dotted black; */
  width: 75vw;
  height: 40vh;
  padding: 0 1vw 0 0;
}

.homeWelcome h4 {
  margin: 2vh 1vw 0 1vw;
  padding: .5vh 1vw .5vh .25vw;
  width: 32.5vw;
  float: left;
  font-weight: 200;
  letter-spacing: 1px;
  /* border: 1px solid blue; */
}

.homeWelcome h5 {
  clear: both;
  margin: 0 1vw 0 0;
  font-size: .7rem;
  width: 32.5vw;
  float: left;
  padding: 0 1vw 1vh 1.25vw;
  /* border: 1px dotted blue; */
}

.mainWelcomeText {
  clear: both;
  width: 33vw;
  height: 27vh;
  margin: 0 1vw 1vh 1vw;
  padding: 0 1vw 1vh 0;
  float: left;
  /* border: 1px solid red; */
}

.mainWelcomeText p {
  font-size: .75rem;
  letter-spacing: 1.05px;
  padding: .5vh .5vw 1vh 0;
}

.benMooreTagline {
  /* border: 1px solid green; */
  width: 33.3vw;
  text-align: center;
  margin: 0 1vw 1vh 1vw;
  padding: 0 1vw 1vh 2vw;
  float: left;
}

.benMooreTagline img {

}

.homePageLinks {
  position: fixed;
  height: 25vh;
  width: 77vw;
  background-color: grey;
  clear: both;
  bottom: 7.5vh;
}

.homePageLinks ul {
  height: 100%;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

.homePageLinks li {
  list-style: none;
  padding: 0 0 0 1vw;
  float: left;
  width: 33.33%;
  background: orange;
  height: 100%;
}

.homePageLinks li > h6 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  font-size: .75rem;
  padding: 2% 0 0 0;
  vertical-align: center;
  height: 8%;
  background: teal;
}

.homePageLinks li > button {
  position: left;
  font-size: .6rem;
}

.homePageLinks p {
  border-right: 2px solid silver;
  margin: .5rem .5rem .5rem .75rem;
  text-align: left;
  font-size: .75rem;
}
