.homeView {
  position: absolute;
  top: 11vh;
  left: 20vw;
  height: 107.5vh;
  width: 78vw;
  float: left;
}

.homeContent  {
  width: 75vw;
  height: 104.5vh;
  padding: 1vh 1vw 1vh 1vw;
  /* border: 2px solid black; */
}

.homeBanner {
  width: 75vw;
  height: 22.5vh;
  text-align: right;
}

.homeBanner img {
  height: 100%;
}

.homeLeftColumn {
  width: 37.5vw;
  float: left;
}

.homeWelcome  {
  /* border: 1px dotted black; */
  width: 36.5vw;
  height: 35vh;
  padding: 0 1vw 0 0;
}

.homeWelcome h4 {
  margin: 2vh 1vw 0 1vw;
  padding: .5vh 1vw .5vh .25vw;
  width: 32.5vw;
  float: left;
  font-weight: 200;
  letter-spacing: 1px;
  /* border: 1px solid blue; */
}

.homeWelcome h5 {
  clear: both;
  margin: 0 1vw 0 0;
  font-size: .7rem;
  width: 32.5vw;
  float: left;
  padding: 0 1vw 1vh 1.25vw;
  /* border: 1px dotted blue; */
}

.mainWelcomeText {
  clear: both;
  width: 33vw;
  height: 27vh;
  margin: 0 1vw 0 1vw;
  padding: 0 1vw 1vh 0;
  float: left;
  /* border: 1px solid red; */
}

.mainWelcomeText p {
  font-size: .75rem;
  letter-spacing: 1.05px;
  padding: .5vh .5vw 1vh 0;
}

.homeRightColumn {
  width: 37.5vw;
  float: left;
  padding: 1.5vh 0 0 0 ;
}

.benMooreTagline {
  /* border: 1px solid green; */
  width: 33.3vw;
  text-align: center;
  margin: 0 1vw 1vh 1vw;
  padding: 0 1vw 1vh 2vw;
  float: left;
}

.benMooreTagline img {

}

.homePageLinks {
  position: relative;
  top: .25vh;
  height: 44vh;
  width: 77vw;
  clear: both;
  bottom: 7.5vh;
}

.homePageLinks ul {
  height: 100%;
  text-align: left;
}

.homePageLinks li {
  list-style: none;
  border-right: 1px solid silver;
  text-align: center;
  padding: 0vh 0 0 1vw;
  float: left;
  width: 23.5vw;
  height: 100%;
}

.homePageLinks li h6 {
  font-size: .75rem;
  margin: .5vh 0 0 4.7vw;
  padding: .5vh 0 0 0;
  width: 14.1vw;
  height: 2.5vh;
  background: teal;
}

.homePageLinks img {
  width: 14.1vw;
}

.homePageLinks li p {
  margin: .5rem .5rem .5rem .75rem;
  padding: 0 4vw 0 4vw;
  text-align: left;
  font-size: .75rem;
}

.homePageLinks li > button {
  position: left;
  font-size: .6rem;
}
