.locationView {
  background: white;
  float: left;
  height: 80vh;
  left: 20vw;
  position: absolute;
  top: 12.5vh;
  width: 76vw;
}

.locationView h3 {
  border-bottom: 1px solid teal;
  font-weight: 200;
  margin: 0 0 0 2.5vw;
  padding: 1.75vh 0 1.5vh 2.5vw;
  text-align: left;
  width: 73.5vw;
}

.locationView .contactInfoSection {
  display: inline-block;
  vertical-align: middle;
  width: 35vw;
}

.locationView .leftColumn {
  background: teal;
  /* background: linear-gradient(#007BA7, teal); */
  box-shadow: -1px 2px 4px 6px silver;
  float: left;
  color: white;
  font-family: 'Dosis', sans-serif;
  height: 75vh;
  margin: 5vh 1vw 2vh 2vw;
  padding: 0vh 1vw 1vh 0vw;
  width: 30vw;
  z-index: 15;
}

.locationView .leftColumn h4 {
  font-family: 'Titillium Web', sans-serif;
  /* font-size: 1.95rem; */
  margin: 0 0 .5vh 0;
  text-align: center;
  padding: 0;
}


.locationView .leftColumn h3 {
  border: none;
  font-family: 'Titillium Web', sans-serif;
  /* font-size: 1.85rem; */
  margin: 0;
  max-width: 100%;
  padding: .5vh 0 0vh 0;
}

.locationView .hoursContainer {
  border-right: 1px solid silver;
  float: left;
  font-size: 1.35rem;
  height: 37.5vh;
  margin: 4vh 0 0 0;
  padding: 0vh 2vw 0 2.5vw;
  text-align: center;
  width: 12vw;
}

.locationView .hoursContainer h3 {
  border-top: 1px dotted silver;
  text-align: center;
}

.locationView .hoursContainer p {
  padding: 0 0 2vh 0;
}

.locationView .phoneContainer {
  /* border: 2px solid black; */
  float: left;
  font-size: 1.35rem;
  height: 35vh;
  margin: 0vh 0 0 0vw;
  padding: 4vh 0 0 0;
  text-align: center;
  width: 12.5vw;
}

.locationView .phoneContainer p {
  border-top: 1px dotted silver;
  margin: 0 10% 2.5vh 15%;
}

.locationView .addressContainer {
  clear: both;
  font-size: 1.35rem;
  height: 18vh;
  margin: 0 0 0 -.75vw;
  padding: 3vh 0 0 1vw;
  text-align: center;
  width: 30.5vw;
}

.locationView .addressContainer h4 {
  border-top: 1px solid silver;
  margin: 4vh 0 0 0;
  padding: 3vh 0 0 0;
}

.locationView .leftColumn .addressContainer h3 {
  text-align: center;
}


.locationView .rightColumn {
  float: left;
  height: 80vh;
  margin: 6vh 2vw 2vh 8vw;
  padding: 0;
  width: 28vw;
}

.locationView .mapsContainer  {
  border-radius: 50%;
  height: 60vh;
  margin: 6vh 0 0 0vw;
  width: 28vw;
}

.locationView .mapsContainer .googleMap{
  border-radius: 50%;
  height: 60vh;
  width: 28vw;
}
