.productsView {
  position: absolute;
  background: white;
  top: 11vh;
  left: 20vw;
  height: 80vh;
  width: 78vw;
  float: left;
}

.productsBanner {
  height: 17.5vh
}

.productsView h3 {
  font-weight: 200;
  text-align: left;
  width: 73.5vw;
  padding: 1.75vh 0 1.5vh 1.5vw;
  margin: 0 0 0 2.5vw;
  border-bottom: 1px solid teal;
}


.previousButton {
  position: absolute;
  width: 7.5vw;
  left: 3.5vw;
  height: 60vh;
  float: left;
}

.previousButton img {
  margin: 25vh 0 0 0;
  transform: rotate(180deg);
  height: 7.5vh;
}

.previousButton img:hover {
  border-radius: 50%;
  background: green;
}

.nextButton {
  position: absolute;
  width: 7.5vw;
  left: 67.5vw;
  height: 60vh;
  float: left;
}

.nextButton img{
  margin: 25vh 0 0 0;
  height: 7.5vh;
}

.nextButton img:hover {
  border-radius: 50%;
  background: green;
}

.activeProductContainer {
  background: #FFFAF0;
  float: left;
  height: 60vh;
  margin: 17.5vh 2.5vw 0 5.5vw;
  padding: 0;
  width: 30vw;
  box-shadow: 0px 1px 2px 5px teal;
  transition: 1.5s ease-in;
}

.activeProductContainer:hover {
  animation: animateActiveItemContainer 1 .33s ease-in normal;
  background: #AAF0D1;
}

@keyframes animateActiveItemContainer {
  from {
    background: #FFFAF0;
  }

  to {
    background: #AAF0D1;
  }
}


.activeProduct {
  width: 100%;
  margin: 0;
  padding: 0vh 0 0 0;
  height: 100%;
  float: left;
}

.activeProductTopRow {
  width: 100%;
  height: 40%;
  margin: 5% 0 0 0;
  /* border: 1px solid green; */
  float:left;
}

.productHeader {
  /* border: 1px dotted green; */
  padding: 7.5% 2.5% 20% 5%;
  font-family: 'Dosis', sans-serif;
  font-weight: 200;
  font-size: 1.8rem;
  float: left;
  text-align: center;
  vertical-align: center;
  width: 37.5%;
  height: 40%;
}

.productHeader:hover {
}


.productPicture {
  /* border: 1px dotted green; */
  margin: 5% 0 0 0 ;
  height: 90%;
  width: 55%;
  float: left;
}

.productDescription {
  position: relative;
  letter-spacing: 1px;
  float: left;
  text-align: center;
  font-family: 'Bookman';
  font-size: 1.55rem;
  margin: 0;
  padding: 5%;
  width: 90%;
  height: 45%;
  /* border: 2px solid silver; */
}


.activeProductBottomRow {
  height: 49%;
  width: 100%;
  float: left;
  /* border: 1px dotted red; */
}

.prdList {
  box-shadow: 0px 1px 2px 5px teal;
  margin: 3vh 0 0 0;
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
  border-bottom: 1px solid teal;
  width: 30vw;
}

.prdLI {
  padding: 2%;
  background: #FFFAF0;
  /* float: left; */
  height: 15vh;
  width: 100%;
  border-bottom: 1px solid teal;
  /* border: 1px dotted black; */
}

.prdName {
  height: 100%;
  padding: 2% 2% 0 0 ;
  width: 62%;
  float: left;
  /* border: 1px solid green; */
}

.prdName p {
  font-family: 'Dosis', sans-serif;
  margin: 5% 2% 0 5%;
  font-size: 1.3rem;
  height: 100%;
  width: 100%;
  float: left;
}

.prdImg {
  height: 100%;
  float: left;
  width: 35%;
  /* border: 1px solid red; */
}

.prdImg img{
  height: 100%;
  float: left;
  width: 100%;
}

.filterCntr {
  box-shadow: 0px 1px 2px 5px teal;
  background: #FFFAF0;
  display: inline-block;
  height: 10vh;
  margin: 2.5% 0 0 0 ;
  width: 30vw;
}

.searchFltCntr {
  font-size: .8rem;
  padding: 4% 1% 1% 1% ;
  float: left;
  width: 42%;
  height: 100%;
  display: inline;
}

.searchFltLabel {
  margin: 0 2% 0 2%;
}

.searchFlt {
  height: 4vh;
  width: 60%
}

.ctgFltCntr {
  font-size: .8rem;
  margin: 1%;
  width: 46%;
  height: 100%;
  display: inline;
}

.ctgFltLabel {
}

.ctgFlt {
  margin: 4% 2% 2% 2%;
  width: 25%;
  height: 5vh;
}

.ctgFltItem {

}
