.sidebar {
  position: absolute;
  left: 3.5vw;
  color: white;
  padding: 0;
  top: 11vh;
  height: 111.75vh;
  width:  16.5vw;
  background: #008080;
  /* border: 1px solid red; */
}

.sidebar .menuUL {
  margin: 0 0 2vh 0;
  padding: 2vh 1vw 2vh 1vw;
  font-size: .8rem;
  background: #47423f;
  text-align: left;
  width: 100%;
  height: 24vh;
  width: 14.5vw;
  /* border: 1px dotted white; */

}

.sidebar .menuUL li {
  list-style-type: none;
  padding: .5vh 0 .5vh 1vw;
  color: white;
  border-top-left-radius: 20%;
  border-bottom-left-radius: 20%;
  /* border-bottom: 1px solid #008080; */
  /* border-bottom: 1px solid transparent; */
  background-image: linear-gradient(left, #008080,#47423f);
  margin: .75vh 0 .5vh 0;
}

.sidebar .menuUL li:last-child {
  border-bottom: none;
}

.sidebar .infoComponentBox{
  color: white;
  /* border: 1px dotted white; */
  height: 12.5vh;
  background: #47423f;
  font-size: .7rem;
  margin: 4vh 0 4vh 0;
  padding: .25vh 0 1vh 0;
}

.sidebar .infoComponentBox h5 {
  margin: .25vh 0 .25vh 0;
  padding: 0 0 0 .75vw;
  font-size: .75rem;
  height: 2vh;
}

.sidebar .infoComponentBox p {
  margin: .25vh 1vw 0 1vw;
  font-size: .8rem;
}

.sidebar .sidebarBlurb {
  /* border: 1px dotted white; */
  background: #47423f;
  padding: 1vh .5vw 1vh .5vw;
  height: 20vh;
  margin: 0 0 4vh 0;
  font-size: .7125rem;
}

.sidebar .sidebarBlurb h5 {
  padding: 0 0 0 .15vw;
  text-align: left;
  font-size: 1rem;
}

.sidebar .sidebarBlurb p {
  margin: .5vh 0 0 0;
  text-align: left;
}

.sidebar .socialMedia {
  /* border: 1px dotted white; */
  background: #47423f;
  height: 34.75vh;
}

.sidebar .socialMedia ul {
  padding: 2vh 0 0 0;
}

.sidebar .socialMedia ul li {
  list-style-type: none;
  margin: 1vh 0 .5vh 1vw;
}

.sidebar .socialMedia li img {
  height: 6vh;
  width: 3.5vw;
}
