.sundriesView {
    position: absolute;
    background: white;
    height: 80vh;
    top: 12.5vh;
    left: 20vw;
    width: 80vw;
    float: left;
}

.sundriesView h3 {
  font-weight: 200;
  text-align: left;
  width: 73.5vw;
  padding: 1.75vh 0 1.5vh 1.5vw;
  margin: 0 0 0 2.5vw;
  border-bottom: 1px solid teal;
}


.sundriesContent {
  width: 90%;
  height: 50%;
  margin: 2.5vh 0 0 3.5vw;
}

.sundriesContentSection {
  margin: 1% 0 0 0;
  border: 2px solid black;
  height: 100%;
  width: 100%;
}

.sundriesContent p {
  padding: 12.5% 2.5% 0 2.5%;
  float: left;
  width: 47.5%;
  height: 30%;
  text-align: left;
}
.sundriesContent img{
  width: 47.5%;
  max-height: 100%;
  float: left;
}
