.sundriesView {
  background: white;
  border: 2px solid black;
  float: left;
  height: 135vh;
  left: 21vw;
  position: absolute;
  text-align: center;
  top: 12.5vh;
  width: 75vw;
}

.sundriesView h3 {
  font-weight: 200;
  text-align: left;
  width: 73.5vw;
  padding: 1.75vh 0 1.5vh 1.5vw;
  margin: 0 0 0 2.5vw;
  border-bottom: 1px solid teal;
}

#topSctn {
  margin: 1.5% 0 0 5%;
  height: 33%;
  width: 90%;
  background: transparent;
}

#topRightHalf {
  float: left;
  height: 97%;
  margin: .5% .5% 0 .5%;
  font-family: 'Dosis', sans-serif;
  width: 65%;

  }

#topLeftHalf {
  float: left;
  height: 97%;
  margin: .5% .5% 0 0;
  width: 30%;
  }

#midSctn{
  margin: .5% 0 0 5%;
  height: 33%;
  width: 90%;
  background: transparent;
}

#midLeftHalf{
  float: left;
  height: 97%;
  margin: .5% .5% 0 .5%;
  font-family: 'Dosis', sans-serif;
  font-size: 1.75rem;
  width: 65%;
}

#midRightHalf{
  float: left;
  height: 97%;
  margin: .5% .5% 0 .5%;
  width: 30%;
}

#btmSctn {
  margin: .5% 0 0 5%;
  height: 33%;
  width: 90%;
  background: transparent;
}

#btmRightHalf{
  float: left;
  height: 97%;
  margin: .5% .5% 0 .5%;
  font-family: 'Dosis', sans-serif;
  font-size: 1.75rem;
  width: 55%;
}

#btmLeftHalf{
  float: left;
  height: 90%;
  margin: .5% .5% 0 .5%;
  width: 40%;
}

#topRightHalf section {
  font-size: 1.75rem;
  height: 90%;
  padding: 10% 2% 2% 5%;

}
#midLeftHalf section {
  height: 90%;
  padding: 7.5% 10% 5% 10%;

}
#btmRightHalf section {
  height: 90%;
  padding: 2% 5% 5% 5% ;

}

#topLeftHalf img {
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;

}
#midRightHalf img {
  overflow: hidden;`
  max-width: 100%;
  max-height: 100%;

}
#btmLeftHalf img {
  overflow: hidden;`
  max-width: 100%;
  max-height: 100%;

}
